name: 02 - Workflow Events
on:
  workflow_dispatch:
  schedule:
    - cron: '*/5 * * * *'
jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Show the trigger
        run: |
            echo "event name: ${{ github.event_name }}"