name: 11 -inputs

on:
    workflow_dispatch:
        inputs:
            dry-run:
                type: boolean
                description: skip deploy
                default: false
            target:
                type: environment
                required: true
                description: which environment
            tag:
                type: choice
                options:
                    - v1
                    - v2
                    - v3
                default: v3

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
          - name: build
            run: echo "build from tag ${{inputs.tag}}"
    deploy:
        runs-on: ubuntu-latest
        if: ${{inputs.dry-run}}
        environment: ${{inputs.target}}
        needs: build
        steps:
            - name: deploy
              run: echo "deploy to ${{inputs.target}}"